<%- include('partials/header.ejs') %>

	<section>
		<inner-column>
			<h1 class="loud-voice"><%-get.asText(monster['monster-name'])%></h1>
		</inner-column>
	</section>
<%- include('partials/footer.ejs') %>